* {
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
}

header,
nav,
.slides {
  padding: 12px;
}

.container {
  display: table;
  width: 100%;
}

nav,
.slides {
  display: table-cell;
  vertical-align: top;
}
