header {
  background-color: $brand-color;
  color: white;
  display: table;
  height: $header-height;
  width: 100%;
  @include set-font(24px);

  a {
    color: white;
    text-decoration: none;
  }

  .chartbook-name {
    display: table-cell;
    vertical-align: middle;
  }

  .chartbook-nav-icons {
    display: table-cell;
    text-align: right;
    vertical-align: middle;

    i {
      margin-left: 10px;
    }
  }

  @include media-query($on-palm) {
    @include set-font(16px);

    .chartbook-nav-icons {
      @include set-font(20px);

      i {
        margin-left: 15px;
      }
    }
  }
}

nav {
  bottom: 0;
  left: 0;
  overflow-y: auto;
  position: absolute;
  top: $header-height;
  width: $nav-width;
  @include set-font(16px);

  @include media-query($on-palm) {
    left: -$nav-width;
    position: fixed;
  }

  li {
    border: solid 1px #000;
    cursor: pointer;
    height: $header-height;
    padding: 12px;
    width: inherit;
  }
}

.nav-button {
  cursor: pointer;
}
