header {
  background-color: $brand-color;
  color: white;
  display: table;
  height: 64px;
  width: 100%;
  @include set-font(24px);

  a {
    color: white;
    text-decoration: none;
  }

  .chartbook-name {
    display: table-cell;
  }

  .chartbook-nav-icons {
    display: table-cell;
    text-align: right;

    i {
      margin-left: 10px;
    }
  }
}

nav {
  overflow-y: auto;
  width: 256px;
  @include set-font(16px);
}
