header {
  background-color: $brand-color;
  box-sizing: border-box;
  color: white;
  display: flex;
  height: 64px;
  justify-content: space-between;
  padding: 12px;
  width: 100%;
  @include set-font(20px);

  a {
    color: white;
    text-decoration: none;
  }

  .chartbook-name {

  }

  .chartbook-nav-icons {

  }
}

nav {
  box-sizing: border-box;
  height: 100%;
  overflow-y: auto;
  width: 256px;
}
