section {
  display: none;
  margin: 0 auto;
  max-width: 1080px;
  padding: 12px 20px;
  @include set-font(16px);
}

.slides {
  bottom: 0;
  left: $nav-width;
  position: absolute;
  right: 0;
  top: $header-height;

  @include media-query($on-laptop) {
    left: 0;
  }
}

.active-slide {
  display: block;
}

img {
  width: 100%;
}

a.social-link {
  display:inline-block;
  background-color: #fff;
  color: #ccc;
  text-decoration:none;
  padding:6px 12px;
  margin: 0 .5rem 0 0;
  -webkit-transition: background 0.1s linear;
  -moz-transition: background 0.1s linear;
  -ms-transition: background 0.1s linear;
  -o-transition: background 0.1s linear;
  transition: background 0.1s linear;
}

a.social-link-no-bg {
  display:inline-block;
  color: #fff;
  text-decoration:none;
  padding:6px 12px;
  margin: 16px 8px 0 0;
  -webkit-transition: background 0.1s linear;
  -moz-transition: background 0.1s linear;
  -ms-transition: background 0.1s linear;
  -o-transition: background 0.1s linear;
  transition: background 0.1s linear;
}

@each $social-media, $social-color in $social-colors {
  a:hover.#{$social-media} {
    background-color: $social-color;
    color: #fff;
  }
}
