$header-height: 64px;
$nav-width: 256px;

// Colors
$brand-color: #0094ff;

$body-font-color: #333;

$header-font-color: #fff;

$nav-font-color: #fff;
$nav-background-color: #ececec;
$nav-border-color: #dedede;
